* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes transitionX{
    from {
        opacity: 0;
        transform: rotateX(-20deg);
    }

    to{
        opacity: 1;
        transform: rotateX(0deg);
    }
}


body {
    font-family: 'Amatic SC', cursive;
    /*background-color: #f4f6ff;*/
    
    /*
    background-color: #e3f6f5;
    */
   
    animation: transitionIn 1s;
}
/*
.main-container{
  background-image:url("jason-blackeye-ap3LXI0fPJY-unsplash.jpg");
  background-size: cover;
}
.main-container::before{
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  
}
*/
.main-container{
  background-image: linear-gradient(90deg, #cdf6f7,#87dfd6);
  
}
.main2-container{
  background-color: #cdf6f7;
  /*
  background-image: linear-gradient(40deg, #ecfcff, #cdf6f7);
  */
  padding: 30px;
}
.main3-container{
  background-image: linear-gradient(90deg, #cdf6f7,#87dfd6);
}
header{
    width: 100%;
    
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  
}

header h2{
    font-size: 60px;
    color: #303960;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    left: 80px;
    right: 80px;
    
    
    
}
.icon{
    display: flex;
    font-size: 60px;
    color: #303960;
    flex-direction: row;
    padding: 40px;
    
    
}
.image-container{
    display: flex;
    justify-content: center;
}
.image-container>img{
    display:flex;
    justify-content: center;
    
    height: 70%;
    width: 70%;
    
    padding:50px;
   
}
.about-container{
    width: 100%;
    padding: 60px 0;
    
}

.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 050px;
}

.about-container h1{
  text-align: center;
  text-transform: uppercase;
  color: #303960;
  font-size: 50px;
}

.about-container p{
    font-size: 30px;
    text-align: center;
    color: #303960;
    margin-right: 150px;
    margin-left: 150px;
    text-align: justify;
    text-justify: auto;
    font-family: 'Patrick Hand SC', cursive;
    
}
.border{
    width: 200px;
    height: 4px;
    background-image: linear-gradient(20deg,#bae8e8, #e3f6f5 );
    margin:50px auto;
  }

  .gallery-container{
    width: 100%;
    padding: 60px 0;
   
  }

  .gallery-container h1{
    text-align: center;
    text-transform: uppercase;
    color: #303960; 
    font-size: 50px;
  }

  .gallery-container .gallery{
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
  }

  .gallery-container .image{
      flex: 50%;
      overflow: hidden;
      cursor: pointer;
    }
   .gallery-container .image img{
    width: 100%;
    height: 100%;
    transition: 0.4s;
   } 
   
    .gallery-container .image:hover img{
        transform: scale(1.4) rotate(10deg);
      }  
      
  .footer-container{
      background: #cdf6f7;
      height: 15vh;
      display: flex;
      justify-content: center;
      color: #303960;
      font-size: 30px;
      padding: 50px;
  }    

  @media screen and (max-width:960px) {
    .gallery-container .image{
      flex: 33.33%;
    }
    .about-container p{
        font-size: 30px;
        margin-left:50px;
        margin-right:50px;
    }

    header h2{
      font-size: 40px;
    }
    .icon{
      font-size: 40px;
    }

    .image-container>img{
      height: 100%;
      width: 100%;
    }
    .about-container p{
      text-align: justify;
    }
  }
  
  @media screen and (max-width:768px) {
    .gallery-container .image{
      flex: 50%;
    }
    .about-container p{
        font-size: 30px;
        margin-left:50px;
        margin-right:50px;
    }
    header h2{
      font-size: 40px;
    }
    .icon{
      font-size: 40px;
    }

    .image-container>img{
      height: 100%;
      width: 100%;
    }
    .about-container p{
      text-align: justify;
    }
  }
  
  @media screen and (max-width:480px) {
    .gallery-container .image{
      flex: 100%;
    }
    .about-container p{
        font-size: 30px;
        margin-left:50px;
        margin-right:50px;
    }
    header h2{
      font-size: 30px;
    }
    .icon{
      font-size: 30px;
    }

    .image-container>img{
      height: 100%;
      width: 100%;
    }
    .about-container p{
      text-align: justify;
      
    }
  }